%nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top{:role=>"navigation"}
  .navbar-header
    %button.navbar-toggle{:type=>"button", :data=>{:toggle=>"collapse", :target=>".navbar-ex1-collapse"}}
    %a.navbar-brand{:href=>"#"} Quadrant
  .collapse.navbar-collapse.navbar-ex1-collapse
    %a.btn.btn-warning.btn-sm.pull-right{:href=>"/auth/Jawbone"} Login with Jawbone
