%nav.navbar.navbar-default{:role=>"navigation"}
  .navbar-header
    %button.navbar-toggle{:type=>"button", :data=>{:toggle=>"collapse", :target=>".navbar-ex1-collapse"}}
    %a.navbar-brand{:href=>"#"} JawSquare
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{:href=>"/friends"} Friends
      %li
        %a{:href=>"/locations"} Locations
