.jumbotron.animated.fadeIn
  %h1 Quadrant
  %button.btn.btn-primary.btn-lg{:href=>"#map"} See Your Map
  %button.btn.btn-primary.btn-lg{:href=>"#map"} Vett Your Friends
%ul.nav.nav-tabs.center#maptabs
  %li
    %a{:href=>"#duration"} Sleep Duration
  %li.active
    %a{:href=>"#quality"} Sleep Quality
  %li
    %a{:href=>"#mood"} Mood
.tab-content
  .tab-pane#duration
    = erb :_duration_map, @locations
  .tab-pane#quality.active
    = erb :_quality_map, @locations
  .tab-pane#mood
= haml :_leaderboard, @locations