.jumbotron.animated.fadeIn
  %h1 Quadrant
  %a.btn.btn-warning.btn-lg{:href=>"/auth/Jawbone"} Login with Jawbone
  %a.btn.btn-primary.btn-lg{:href=>"/auth/foursquare"} Login with Foursquare
.jumbotron.what
  %h2 What is Quadrant?
  %p
    Quadrant is an app that correlates your sleep quality, duration, and mood with the locations you've been. We take data from your JawboneUP and map it to your Foursquare checkins.
.jumbotron.why
  %h2 Why 'Quadrant'?
  %p Back in the day, a quadrant was a tool to measure the height of astronomical objects. Given that functionality, it was an excellent navigation tool for ships. One would often find ships fixed to the head of a ships rudder, directly attached to the steering mechanism.
  %p Quadrant, the app, aims to improve your ability to make healthy decisions by presenting a visual, historical interface that informs you of the locations that improve, or conversely, hurt, your general health. Think of us like a navigation tool for healthy living :)
  %p 
    %h4 quad·rant, n. /ˈkwädrənt/
    %ul.def
      %li each of four quarters of a circle.
      %li (historical) an instrument used for taking angular measurements of altitude in astronomy and navigation, typically consisting of a graduated quarter circle and a sighting mechanism.
      %li a frame fixed to the head of a ship's rudder, to which the steering mechanism is attached.
.jumbotron.sleep
  %h2 What are the implications of correlating this data?
  %p We all know that sleep is good and stress is bad. It turns out that when you're stressed you get terrible sleep. We've correlated the places you visited one day to the sleep you got that night. If you visited locations, and then had terrible sleep, it's very likely that those places caused you stress.
  %p Huffington Post says:
  %blockquote
    "A recent study examined the effect of sleep on stress. Participants took an exam that was mildly stressful. Compared to those experiencing a typical night of sleep, those in the sleep deprived condition experienced higher levels of stress."

.jumbotron.how
  %h2 How do I use this?
  %p It's pretty simple. Just login with you Foursquare and Jawbone accounts.